// css module;样式模块化；局部样式；组件样式；局部作用域；局部变量；局部类名；局部样式文件；
.flex {
  display: flex;
}
.item-center {
  justify-content: center;
  align-items: center;
}
.text {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  color: #eee;
}
